[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
psycopg2 = "*"
numpy = "*"
opencv-python = "*"
opencv-contrib-python = "*"
scikit-learn = "*"
python-multipart = "*"
torch = {version="==1.13.0",file = "https://download.pytorch.org/whl/cpu/torch-1.13.0%2Bcpu-cp38-cp38-linux_x86_64.whl"}
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.8"
